<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.contador_pasos_nuevo">

    <!-- 🔐 Permisos necesarios para actividad física y Health Connect -->
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <uses-permission android:name="android.permission.health.READ_STEPS" />
    <uses-permission android:name="android.permission.health.CONNECT" />

    <application
        android:label="contador_pasos_nuevo"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">

        <!-- 🧠 Requisito para usar Health Connect -->
        <uses-library
            android:name="androidx.health.connect.client.impl.HealthConnectClientImpl"
            android:required="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <!-- Tema que se aplica mientras carga Flutter -->
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Necesario para registrar plugins en Flutter -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>

    <!-- Visibilidad para procesar texto (usado por Flutter internamente) -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT" />
            <data android:mimeType="text/plain" />
        </intent>
    </queries>

</manifest>
